.badge {
  padding: .2rem .5rem;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 2px hsl(200, 15%, 8%);
  color: var(--text);
  background-color: var(--background);
  font-family: 'Nunito Sans', sans-serif;
  cursor: pointer;
}

.badge:hover {
  transform: scale(1.05);
}
