.searches {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-sizing: border-box;
  max-width: 1300px;
  margin: auto;
}

.inputCont {
  padding: 0 0 0 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 2px hsl(200, 15%, 8%);
  color: var(--text);
  background-color: var(--details);
  font-family: 'Nunito Sans', sans-serif;
}

.input {
  padding: 1rem 2rem;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  border: none;
  color: var(--text);
  background-color: transparent;
  outline: none;
  min-width: 350px;
}

@media screen and (max-width: 768px) {
  .searches {
    flex-direction: column;
    gap: 2rem 0;
  }

  .input {
    min-width: auto;
  }

  .select {
    padding: 1rem;
    max-width: 150px;
  }
}
